*.swp
*~
.DS_Store
Thumbs.db
.project
.svn
.nvm-version
node_modules
npm-debug.log
debug.log
/tags
/static/components/
bower_components
/app/
/dist/
*.rom
jspm_packages
!jspm_packages/npm/openvgdb@1.0.0/db.json
