'.cards':
  ArrowUp: 'select:up'
  ArrowLeft: 'select:left'
  ArrowDown: 'select:down'
  ArrowRight: 'select:right'
'.selected':
  Enter: 'select:enter'
'.player':
  up: 'retroup'
  down: 'retrodown'
  y: 'joypad:0:y'
  x: 'joypad:0:x'
  b: 'joypad:0:b'
  r: 'joypad:0:r'
  ArrowUp: 'joypad:0:up'
  ArrowDown: 'joypad:0:down'
  ArrowLeft: 'joypad:0:left'
  ArrowRight: 'joypad:0:right'
  Enter: 'joypad:0:start'
  Shift: 'joypad:0:select'
  k: 'joypad:0:b'
  j: 'joypad:0:y'
  l: 'joypad:0:a'
  i: 'joypad:0:x'
  a: 'joypad:0:left'
  s: 'joypad:0:down'
  d: 'joypad:0:right'
  w: 'joypad:0:up'
