'Super Nintendo Entertainment System': 'snes9x_next_libretro'
'Game Boy Color': 'gambatte_libretro'
'Game Boy': 'gambatte_libretro'
'Game Boy Advance': 'vba_next_libretro'
'Nintendo 64': 'mupen64plus_libretro'
'Nintendo Entertainment System': 'fceumm_libretro'
'Genesis': 'genesis_plus_gx_libretro'
