html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  cursor: default;
}
.games {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.game {
  margin: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}
.game-image {
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
}
.hidden {
  display: none;
}
